<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Mis familiares mas cercanos son</h1>

    {% for integrantes in datos_familiares%}

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Vinculo</th>
          <th>Edad</th>
          <th>Fecha de Nacimiento</th>
        </tr>
      </thead>

      <br>
      
      <tbody>
        <tr>
          <td>{{integrantes.nombre}}</td>
          <td>{{integrantes.parentesco}}</td>
          <td>{{integrantes.edad}}</td>
          <td>{{integrantes.fecha_nacimiento}}</td>
        </tr>
    
      </tbody>
    </table>

    {% endfor %}

    <br>
     
</body>
</html>