{% extends 'familiaresapp/index.html' %}

    {% block contenidoprimos %}

    <h1>En el siguiente formulario puede agregar un primo</h1>

        <form action="" method="post">

            {% csrf_token %}

            {{ formulario.as_p }}

            <input type="submit" value="Agregar Primo">

        </form>

        <br>

        <form method="get">
            <h3>Buscar primos por su nombre 
                <input type="text" name="nombre_familiar" id=""> 
            </h3>
            <input type="submit" value="Buscar">
        </form>
        
        {% if primos %}
        
        <ul>
        
            {% for primo in primos %}
            <li>
                {{primo.nombre}}
            </li>
            {% endfor %}
        </ul>
        
        {% endif %}


    {% endblock %}